<div style="padding: 2rem; line-height: 2rem;">
  <h1 id="user_name" *ngIf="name" [style.fontSize.px]="font_size">Hello {{ name }}!</h1>
  <label for="name">Introduce your name: </label>
  <input type="text" name="name" id="name" (keyup)="setName($event)">
  <br>
  <label for="font">Introduce the font: </label>
  <select name="font" id="font" (change)="setFont($event)">
    <option *ngFor="let font of fonts" value="{{font}}">{{font}}</option>
  </select>
  <br>
  <label for="size">Introduce the text size: </label>
  <input type="number" name="size" id="size" (input)="setSize($event)">
  <br>
  <div>
    <p>Set the align of the text: </p>
    <input type="radio" id="left" name="text_align" value="left" [checked]="true" (change)="setAlign($event)">
    <label for="left">Left</label>
    <input type="radio" id="center" name="text_align" value="center" (change)="setAlign($event)">
    <label for="center">Center</label>
    <input type="radio" id="right" name="text_align" value="right" (change)="setAlign($event)">
    <label for="right">Right</label>
  </div>
</div>
